body{
  font-family: sans-serif;

}




.outer{
  text-align: center;
  background-color: #9f675a;
}

.page{

  max-width: 1200px;
  width: 100%;
  display: inline-block;
  background-color: white;
}

.topnav{
  height:110px;
  text-align: left;
  background-color: white;

}

.layout{
	width:100%;
	height: 100px;
}


/* HERO IMAGE */
.hero_content{
	font-size:28px;
	text-align: center;
}
.hero_text_headline{
	font-weight: bold;
	font-size: 34px;
  color: #b7be94;
}

.hero_content img{
	width:100%;
  height: 530px;
}



/* SIDEBAR COMPONENT */

.side_bar{
  overflow: hidden;
  margin-top:20px;
  margin-bottom:20px;
  font-size:28px;

  text-align: center;

}



.side_bar .section{
   color: #b7be94;
   font-weight: bold;
   font-size: 34px;
}

.side_bar img{
	float: right;
  width: 100%;
  margin-bottom: 7px;
}

/* [class^="side_bar"] element that starts with */
div [class^="side_bar"]:first-of-type {
    margin: 0px;

}

div [class^="side_bar"]:last-of-type {
    margin: 0px;

}
