* {
    box-sizing: border-box;
    margin:auto;
}

/* ==== GRID SYSTEM ==== */

.container {
  width: 75%;
  margin:auto;
  color:black;
}

.row {
  position: relative;
  width: 100%;

}

.row [class^="col"] {
  float: left;
  margin: 0% 0%;
  min-height: 0.125rem;
}


.col-1 {
    width: 8.33%;
    background: #fff;
  }

  .col-2 {
    width: 16.66%;
    background: #f3f4f4;
  }

  .col-3 {
    width: 25%;
    background: #eaecec;
  }

  .col-4 {
    width: 33.33%;
    background: #dcdede;
  }

  .col-5 {
    width: 41.67%;
    background: #d4d4d4;
  }

  .col-6 {
    width: 50%;
    background: #ced3d3;
  }


  .col-7 {
    width: 58.33%;
    background: #bdd5d3;
  }

  .col-8 {
    width: 66.67%;
    background: #b0dad7;
  }

  .col-9 {
    width: 75%;
    background: #a0dcd8;
  }

  .col-10 {
    width: 83.33%;
    background: #7ddfd8;
  }

  .col-11 {
    width: 91.67%;
    background: #4ce1d7;
  }

  .col-12 {
    width: 100%;
    background: #01e4d5;
  }

/* This is clearfix, clearing content after each row*/
.row::after {
	content: "";
	display: table;
	clear: both;
}

div [class^="col"] {
    height:100px;
    border: 1px solid white;

}

.bounding{
   box-sizing: content-box;
   width:900x;
   height:900px;
 padding:30px;
   border:2px solid black;

}

.page{
  width: 100%;
  margin: auto;
  display: inline-block;
  align-items: center;
  height: 98vh;
  padding:14px;
}
